version: "3"

services:
  cortex:
    image: cortexproject/cortex:v1.10.0
    command:
      - -config.file=/var/single-process-config-blocks.yaml
      - -target=alertmanager
    volumes:
      - ./single-process-config-blocks.yaml:/var/single-process-config-blocks.yaml
      - ./data:/tmp/cortex
      - ./alertmanager:/tmp/alertmanager
      - ./alertmanager-config.yml:/var/alertmanager-config.yml
    ports:
      - 9009:9009
      - 9094:9094
  prometheus:
    image: bitnami/prometheus:2.33.5
    volumes:
      - ./Prometheus/prometheus.yml:/opt/bitnami/prometheus/conf/prometheus.yml
      - ./Prometheus/prometheus.rules.yaml:/opt/bitnami/prometheus/conf/prometheus.rules.yaml
    ports:
      - 9090:9090