version: "3"

services:
  cortex:
    image: cortexproject/cortex:v1.10.0
    command:
      - -config.file=/var/single-process-config-blocks.yaml
      - -target=alertmanager
    volumes:
      - ./single-process-config-blocks.yaml:/var/single-process-config-blocks.yaml
      - ./data:/tmp/cortex
      - ./alertmanager:/etc/alertmanager
      - ./alertmanager-config.yml:/var/alertmanager-config.yml
    ports:
      - 9009:9009
      - 9094:9094
  prometheus:
    image: bitnami/prometheus:2.33.5
    volumes:
      - ./prometheus.yml:/opt/bitnami/prometheus/conf/prometheus.yml
    ports:
      - 9090:9090