global:
  scrape_interval: 15s
scrape_configs:
  - job_name: prometheus
    scrape_interval: 15s
    scrape_timeout: 10s
    metrics_path: /metrics
    scheme: http
    static_configs:
    - targets:
      - localhost:9090
remote_write:
- url: http://192.168.1.100:9001/api/v1/push